.contact-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  .form-group textarea {
    resize: none;
  }
  
 
  
  button:hover {
    background-color: #0056b3;
  }
  

  .about-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align the text */
  }
  
  .about-container h2 {
    margin-bottom: 20px;
  }
  
  .about-container p {
    margin-bottom: 10px;
  }
  
  .location-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .location-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .map-container {
    position: relative;
    overflow: hidden;
    padding-top: 75%; /* Aspect ratio (height / width) for the map */
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

 
.main-nav{
  display: none;
}

.contact{
  display: none;
}