/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure the body stretches to at least the height of the viewport */
    display: flex;
    flex-direction: column; /* Make the body a flex container with vertical direction */
  }
  

  
  /* Container styles */
  .container {
    
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Adjust padding as needed */
  }
  
  /* Logo styles */
  .logo {
    /* Adjust logo styles as needed */
  }
  
  /* Navigation menu styles */
  .nav-menu {
    flex: 1; /* Grow to fill available space */
    text-align: center; /* Center align menu items */
    position: relative;
    bottom: 40px;
    
  }
  

  
  .nav-menu li {
    display: inline-block;
    margin-right: 0px;
  }
  
  .nav-menu li:last-child {
    margin-right: 0;
  }
  

 
  
    
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-nav ul {
    list-style: none;
  }
  
  .footer-nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-nav ul li:last-child {
    margin-right: 0;
  }

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-item {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-item .product-info {
    margin-top: 10px;
  }
  
  .product-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .product-item p {
    font-size: 16px;
    color: #666;
  }
  
  .product-item .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .product-item button {
    flex: 1;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 10px; /* Adjust font size */
    margin: 0 5px; /* Add margin between buttons */
  }
  
  .product-item button:hover {
    background-color: #45a049;
  }



  .fa-classic, .fa-brands, .fa-regular, .fa-solid, .far, .fas {
    display: ruby-text !important;
    margin-top: 5px;
  }




  
  @media screen and (max-width: 1300px) {
    .product-item {
      width: calc(33.33% - 10px);
    }


  }

  
  @media screen and (max-width: 600px) {
    .product-item {
      width: calc(50% - 10px);
    }
  
    .product-item .buttons {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }
  
    .product-item button {
      width: 100%;
      margin: 5px 0; /* Adjust margin for smaller screens */
    }

    .buttons a button{
        padding: 4px 4px !important;

        
    }
    .logo a img{
      width: 80px;
    }
    .contact a{
      font: small-caption;
    }
    .buttons a button{
      font-size: 10px;
      margin: 0;
    }
    .price-filter input[type="number"] {
      
      
    }
    .price-filter label{
      font-size: 15px;
      margin-right: 0px !important;
    }

    #filtersSearchButton{
      padding: 5px 5px !important;
    }

    #sortButton{
      padding: 5px 5px !important;
    }
    .sort-container{
      right: 0px;
    }
    .header{
      position: fixed;
      width: 100%;
      z-index: 999;
    }
    .search-container{
      margin-top: 104px !important;
      margin-bottom: 10px !important;
    }
    .sticky-button button{
      padding: 5px 10px !important;
    }
    .sticky-button{
      top: 110px !important;
    }
    
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.box {
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subcategories {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  z-index: 1;
}

.box:hover .subcategories {
  display: block;
}


/* Category title styles */
.box h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}



.subcategories p {
  margin: 5px 0;
  color: #666;
}

/* Description styles */
.box p {
  color: #888;
}

/* Hover effect for box */
.box:hover {
  background-color: #e0e0e0;
}



/* Button styles */
#toggleBtn {
  position: fixed; /* Fixed positioning */
  top: 49px; /* Stick to the top border */
  left: 0; /* Align to the left */
  margin: 0px; /* Add margin */
  padding: 10px 20px; /* Add padding for better visibility */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999; /* Ensure it's above other content */
}

#toggleBtn:hover {
  background-color: #0056b3;
}

/* Media query for screens with max width of 600px */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    
  }
  #toggleBtn {
    width: 100%;
  }
  
}
@media screen and (min-width: 600px) {
  #container {
    display: grid;
  }
  #toggleBtn {
    display: none;
  }
  .container{
    display: flex !important;
  }
}


    
  

  


  

  

  

  


  .back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 9999;
  }
  
  .back-to-top-btn:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 600px) {
    .back-to-top-btn {
      bottom: 10px;
      right: 10px;
    }
    .container_all{
      position: fixed;
      z-index: 999;
      top: 48px;
    }
    
    
  }


  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 54px ;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
  }
  
  .search-container button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .price-filter {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .price-filter label {
    margin-right: 10px;
  }
  
  .price-filter input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80px;
  }
  .filters-search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .filters-container {
    flex: 1;
  }
  
  #filtersSearchButton {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }

  .sort-container {
    position: relative;
    text-align: right; /* Align content to the right */
    bottom: 10px;
    right: 10px;
  }
  
  #sortButton {
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }





  .scrolling-text {
    height: 20px;
    overflow: hidden;
    background: #c4c4c4;
  }
  
  .scrolling-text span {
    display: inline-block;
    white-space: nowrap;
    animation: scrollRightToLeft 20s linear infinite;
  }
  
  @keyframes scrollRightToLeft {
    0% {
      transform: translateX(1000%); /* Start offscreen to the right */
    }
    100% {
      transform: translateX(-100%); /* Move offscreen to the left */
    }
  }
  
  
  
  

  

  

  




  




#cable{
    width: 70px !important;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #f8f9fa; /* Light gray background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for header */
    background-color: #333;
  }
  
  .logo,
  .contact,
  .buttons {
    flex: 1; /* Each item takes equal space */
  }
  
  .logo {
    text-align: left;
  }
  
  .contact {
    text-align: center;
  }
  
  .buttons {
    text-align: right;
  }
  
  .buttons button {
    margin-left: 10px; /* Add spacing between buttons */
    padding: 8px 16px;
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  .logo img{
    width: 150px;
    }
  
    .contact {
        text-align: center;
      }
      
      .contact a {
        color: #ffffff; /* White text color */
        text-decoration: none; /* Remove underline */
        transition: color 0.3s ease; /* Smooth transition for color change */
      }
      
      .contact a:hover {
        color: #cccccc; /* Light gray text color on hover */
      }
      
      
      
      
      .sticky-button {
        position: fixed;
        top:100px; /* Adjust the distance from the top */
        right: 10px; /* Adjust the distance from the right */
        z-index: 2;
      }
      
      .sticky-button button {
        padding: 10px 20px;
        background-color: #007bff; /* Blue background color */
        color: #fff; /* White text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .sticky-button button:hover {
        background-color: #0056b3; /* Darker blue on hover */
      }
      .sticky-button img{
        width: 30px;
       
      }
      .d-flex {
        display: flex !important;
      }
            


/* product page ################################################################################################################################*/


  
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.selected-image {
  flex: 1;
  margin-right: 20px;
}

.selected-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.product-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.product-images img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-details {
  flex: 1;
  padding-left: 20px;
}

.product-details h1 {
  font-size: 24px;
  margin-top: 0;
}

.product-details h3 {
  font-size: 18px;
  margin-top: 20px;
}

.product-details ul {
  list-style-type: none;
  padding: 0;
}

.product-details ul li {
  margin-bottom: 10px;
}

.product-details p {
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  
  .selected-image, .product-images {
      width: 100%;
      margin-right: 0;
  }
  
  .product-details {
      padding-left: 0;
      margin-top: 20px;
  }
}




  
    
  
  
  
  
  
/* product page ################################################################################################################################*/
  

  
  
  
  